* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.top-section {
  height: 689px;
  width: 1140px;
  background: #f6ede9;
  margin: 0 auto;
}

.top-section__photo {
  position: relative;
}

.top-section__photo .top-section__camera-lens {
  position: absolute;
  top: 286px;
  left: 484px;
}

.top-section__photo .top-section__camera {
  position: absolute;
  top: 197px;
  left: 304px;
}

.top-section__photo .top-section__basic-photo {
  position: absolute;
  top: 8px;
}

.top-section__photo .top-section__basic-photo-background-right {
  position: absolute;
  top: 480px;
  left: 73px;
}

.top-section__photo .top-section__basic-photo-background-left {
  position: absolute;
  top: 504px;
  left: -165px;
}

.check-out-features-all-width {
  width: 1600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #e66667;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-out-features-all-width .check-out-features {
  height: 659px;
  width: 1140px;
  background: #e66667;
}

.check-out-features-all-width .check-out-features__top-line {
  height: 6px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto;
}

.check-out-features-all-width .check-out-features__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 81px;
  color: #ecba0b;
}

.check-out-features-all-width .check-out-features__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  margin-left: 10px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__mobile-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 84px;
          border-radius: 84px;
  margin-bottom: 35px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__mobile-header {
  color: white;
}

.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__mobile-text {
  color: white;
  text-align: center;
}

.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__button-read-more {
  width: 147px;
  height: 38px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__html-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/html.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fac81b;
  -webkit-border-radius: 84px;
          border-radius: 84px;
  margin-bottom: 35px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__html-header {
  color: #fac81b;
}

.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__html-text {
  color: white;
  text-align: center;
}

.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__button-read-more {
  width: 147px;
  height: 38px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__css-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/css.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 84px;
          border-radius: 84px;
  margin-bottom: 35px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__css-header {
  color: white;
}

.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__css-text {
  color: white;
  text-align: center;
}

.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__button-read-more {
  width: 147px;
  height: 38px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  margin-right: 10px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__amazing-design-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/amazing-design.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 84px;
          border-radius: 84px;
  margin-bottom: 35px;
}

.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__amazing-design-header {
  color: white;
}

.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__amazing-design-text {
  color: white;
  text-align: center;
}

.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__button-read-more {
  width: 147px;
  height: 38px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
}

.recent-blog-posts-all-width {
  width: 1600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-blog-posts-all-width .recent-blog-posts {
  height: 656px;
  width: 1140px;
}

.recent-blog-posts-all-width .recent-blog-posts__top-line {
  height: 6px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto;
}

.recent-blog-posts-all-width .recent-blog-posts__header {
  margin-top: 79px;
  margin-bottom: 78px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ebb90b;
}

.recent-blog-posts-all-width .recent-blog-posts__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img {
  width: 361px;
  height: 212px;
  background: #f5f1ed url(../img/house.png);
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img-face {
  width: 82px;
  height: 82px;
  -webkit-border-radius: 41px;
          border-radius: 41px;
  background: #e6e6e6 url(../img/house-face.png);
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__date {
  color: #e66768;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__text {
  color: #646464;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img {
  width: 361px;
  height: 212px;
  background: #f5f1ed url(../img/tractor.png);
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img-face {
  width: 82px;
  height: 82px;
  -webkit-border-radius: 41px;
          border-radius: 41px;
  background: #e6e6e6 url(../img/tractor-face.png);
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__date {
  color: #e66768;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__text {
  color: #646464;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img {
  width: 361px;
  height: 212px;
  background: #f5f1ed url(../img/mill.png);
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img-face {
  width: 82px;
  height: 82px;
  -webkit-border-radius: 41px;
          border-radius: 41px;
  background: #e6e6e6 url(../img/mill-face.png);
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__date {
  color: #e66768;
}

.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__text {
  color: #646464;
}

.contact-us-now-all-width {
  height: 704px;
  width: 1600px;
  background: url(../img/map.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us-now-all-width .contact-us-now {
  width: 1140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us-now-all-width .contact-us-now__registration {
  height: 525px;
  width: 562px;
  background: #e56767;
  margin-top: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us-now-all-width .contact-us-now__registration .contact-us-now__top-line {
  height: 6px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto 60px;
}

.contact-us-now-all-width .contact-us-now__registration .contact-us-now__header {
  color: #ecba0b;
}

.contact-us-now-all-width .contact-us-now__registration .contact-us-now__address {
  color: #ffffff;
}

.contact-us-now-all-width .contact-us-now__registration .contact-us-now__telephone {
  color: #ffffff;
}

.contact-us-now-all-width .contact-us-now__registration .contact-us-now__email {
  color: #ffffff;
}

.bottom-menu {
  height: 50px;
  width: 1600px;
  background: #3d3d3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #4c4c4c;
}

.bottom-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b1b1b1;
}

.bottom-menu__list li {
  margin-right: 57px;
}

.bottom-menu__list li:nth-child(6) {
  margin: 0;
}

.developer-information {
  height: 50px;
  width: 1600px;
  background: #3d3d3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b1b1b1;
}

.our-latest-works {
  width: 1600px;
}

.our-latest-works__top-line {
  height: 5px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto;
}

.our-latest-works__header {
  height: 190px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ecba0b;
}

.our-latest-works__all-works {
  height: 494px;
  background-image: url(../img/dog.png);
  background-repeat: no-repeat;
}

.our-latest-works__bottom-line {
  height: 81px;
  background: #f6f1ed;
}
/*# sourceMappingURL=style.css.map */